<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624484673774-0fs0g5p0otok6ge27bcu189q528jka64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624484673774-0fs0g5p0otok6ge27bcu189q528jka64</string>
	<key>API_KEY</key>
	<string>AIzaSyCieU1l3QOU-uC55H1b14QdSHWTLYXiCCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>624484673774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.motherFetalEcg</string>
	<key>PROJECT_ID</key>
	<string>mother-fetal-ecg</string>
	<key>STORAGE_BUCKET</key>
	<string>mother-fetal-ecg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624484673774:ios:757073c8b7c5be542c2bff</string>
	<key>DATABASE_URL</key>
	<string>https://mother-fetal-ecg-default-rtdb.firebaseio.com</string>
</dict>
</plist>